form {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  max-width: 20rem;
  margin: 0 auto;
}

form input {
  margin: .5rem 0;
}

.hidden {
  display: none;
}

#chat {
  border: 1px solid #ccc;
  padding: 2rem 1rem;

  max-width: 30rem;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;

  overflow: auto;

  max-height: 50rem;

  position: relative;
}

.message {
  max-width: 80%;
  padding: 1rem;
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
}

.incoming {
  align-self: flex-end;
  background-color: #a4c5fc;
  border-radius: 1rem 1rem 0;
}

.outgoing {
  align-self: flex-start;
  background-color: #c1f9b6;
  border-radius: 1rem 1rem 1rem 0;
}

.system {
  align-self: center;
  background-color: #f9f5b6;
  border-radius: 1rem;
}

.meta {
  border-top: 1px solid #000;
  font-size: 0.7rem;
  padding-top: .5rem;
  margin-top: .5rem;
}

#typing {
  width: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
}