{% extends "admin/base_site.html" %}
{% block content %}

{% if not output %}
<strong>Ik ga de volgende vragen stellen:</strong>
{% for question in questions %}
<p>{{ question.question }}</p>
{% endfor %}
{% else %}
<strong>Vragen en antwoorden:</strong><br />
Sender: {{ sender }}
<table>
  <tr><th>Vraag van gebruiker</th><th>Antwoord van chatbot</th></tr>
{% for response in output %}
  <tr><td><a href='../{{ response.question.id }}'>{{ response.question.question }}</a></td>
    <td {% if response.verified == 'yes' %}style='background-color: lightgreen;'{% endif %}{% if response.verified == 'no' %}style='background-color: red;'{% endif %}>{{ response.answer }}
      {% if response.buttons %}<br />{% for button in response.buttons %}{{ button.title  }}<br />{% endfor %}{% endif %}</td></tr>
{% endfor %}
</table>
{% endif %}

<form method="POST">
  {% csrf_token %}
  <input type="text" name="url" value="https://chatbot.tilburg.io">
  <input type="submit">
</form>

{% endblock %}
