/* Webchat custom styles */
div.col > p a:link { font-family: "Gill Sans",Arial,Helvetica,sans-serif; font-size: 130%; color: #525252; font-weight: lighter; } 
div.col > p a:visited { color: #525252; }
div.col > p a:hover { color: #525252; }

#webchat .launcher, #webchat .header, #webchat .close-button, #webchat .client {
  background-color: #e00052;
}

#webchat .title { 
  font-family: "Rokkitt", sans-serif; 
  font-size: 150%; 
} 

#webchat .conversation-container { 
  box-shadow: 0 2px 10px 1px #606060; 
  border-radius: 0px; 
} 

#webchat .conversation-container .response { 
  font-family: "Open Sans", sans-serif; 
  line-height: 1.428571429; 
  color: #333; 
}

#webchat .conversation-container .response a:link { color: #A0003B; }
#webchat .conversation-container .response a:visited { color: #C40048; }
#webchat .conversation-container .response a:hover { color: #C40048; }